html, body {
    background-color: #24252D !important;
    font-family: 'Roboto Mono', monospace!important;
    color: #CACACC !important;
}
.head {
    font-weight: 400;
    font-size: 2em;
}
.sub {
    margin: 0 0 .5em 0;
    color: #696A6F;
    font-weight: 300;
    font-size: 1.5em;
}
nav .nav-tabs{
    border-color: #363843;
}
nav li a {
    color: yellow;
}

#skills {
    margin: 5em 0 0 2em;
}
#skills p {
    font-size: 0.8em;
    color: #696A6F;
}
#skills i {
    color: #f0f0f0;
    font-size: 500% !important;
}
#menu2 {
    margin-top: 50px;
}

@media only screen and (max-width : 992px) {
    header {
        text-align: center;
    }

    .tab-content {
        text-align: center;
    }
    #skills p {
        margin-bottom: 70px;
    }   
}